*
!requirements*.txt
!MANIFEST.in
!setup.py
!examples/*.py
!script/setup
!script/run_*
!wyoming_satellite/*.py
!wyoming_satellite/utils
!wyoming_satellite/VERSION
!pixel_ring/ring*
!pixel_ring/pixel_ring
!docker/run
!sounds/*.wav
